@import "tailwindcss";

@theme {
  --font-family-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.font-sans {
  font-family: var(--font-family-sans);
}

.font-serif {
  font-family: var(--font-family-serif);
}
